body{

    background: rgb(68,23,204);
    background: linear-gradient(308deg, rgba(68,23,204,0.8048780487804879) 0%, rgba(105,37,163,0.8807588075880759) 30%, rgba(68,13,204,1) 100%);
    background-size: cover;
}

.navbar{

    background-color: white; 
    margin: -0.5%;
}

.logo img{

    /* width: 15%; */
    width: 170px;
    margin: 2% 2% 0 2% ;
}

.profile img{
    
    /* width: 4%; */
    width: 50px;
    float: right;
    margin: 1% 2% 0 2% ;
}

.postform{

   margin: 40px 18%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   background-color: rgba(255, 255, 255, 0.432);
   backdrop-filter: blur(8px);
   border-radius: 25px;
   border: 0px;
  
}

.inputveld{

   border-bottom:1px solid #dadce0 ; 
}

.inputveld .input{

    background-color:transparent;
    border: 0px;
   
}

.input:focus{

    outline: none;
}

::placeholder {
    color: white;
   
}
