@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('//db.onlinewebfonts.com/c/1f18a828748b3090f287def14b600d51?family=Kohinoor');
body{

    background: rgb(68,23,204);
    background: linear-gradient(0deg, rgba(68,23,204,0.8048780487804879) 0%, rgba(105,37,163,0.8807588075880759) 30%, rgba(68,13,204,1) 100%);
    background-repeat: no-repeat;
    background-size: cover; 
}

.navbar{

    background-color: white;
    height: 80px;

}

.logo img{
    width: 200px;
    padding: 1.3em ;
}

.profile .material-symbols-rounded{
    
   font-size: 50px;
   color: #440DCC;
}
.search-bar input{

float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  border: none;
  font-size: 17px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
}
.search-bar button span{
  /* width: 27px; */
  color: white;
}

.search-bar button {
   position: absolute;
   right: 30px;
   top: 115px;
   border: 0;
   border-radius: 0;
   width: 27px;
   height: 27px;
   background: transparent;
   cursor: pointer;
  
}

.postform{

   margin: 50px 7%;
   height: 500px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   border-bottom: 1px solid #dadce043 ;
  
}

.post{

    background-color: rgba(255, 255, 255, 0.432);
    backdrop-filter: blur(8px);
    border-radius: 25px;
    border: 0px;
    width: 500px;
    padding: 20px 40px;
}

.border-bottom{
   
    border-bottom:1px solid #dadce0 ;
    width: 300px;
   
}

.inputveld .input{

    background-color:transparent;
    border: 0px;
    height: 100%;
    width: 100%;

}

.inputveld{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 100%;
    margin-bottom: 17px;
}

.input:focus{

    outline: none;
}

::placeholder {
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
   
}

h3{
    font-family: "Kohinoor";
    color: #440DCC;
    text-align: center;
}

#submitBtn{
    border: none;
    float: right;
    font-family: 'Open Sans', sans-serif;
    padding: 15px 30px;
    font-weight: bold;
    color: white;
    background-color:#37C45B ;
    border-radius: 6px;
}

.post-form{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.post-box{
    display: inline;
    margin: 80px 20px;
    background-color: white;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    width: 400px;
    border-radius: 23px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);

}

.post-img{
    border: 1px solid #a6a6a6 ;
    background-color: white;
    padding: 80px;

}

.post-img img{

    width: 250px;
   max-height: 250px;
}

.title-text{
    font-family: "Kohinoor";
    color: #440DCC;
}

.text{

    font-family: 'Open Sans', sans-serif;

}

.filterList{

    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 70px; 
   padding: 0 7% 0 100% ;
   
}

.filterList:hover{

    cursor: pointer;
}

.courses{

    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 0 0 0 65%;
  
}

.courses div{

    display: inline;
    padding: 0 10px;
    font-family:'Open Sans', sans-serif ;
    color: white;
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  color:#EBDC27;
}

.commentStar{

    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
}

.commentStar div{

    display: inline;
}

.commenticon{

    padding: 0 0 0 10px;

}

.stars{

    padding: 0px 10px 0 200px ;
} 
.star{
    font-size: 1.3rem;
    color: #EBDC27;
    background-color: unset;
    border:none;
}

.star:hover{

    cursor: pointer;
}
  
  .dropdown {
    position: relative;
    display: inline-block;
    float: right;
    margin: 1% 100px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    backdrop-filter: blur(8px);
    background: rgba(255, 255, 255, 0.345);
    border-radius: 10px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin: 0 -50px;
  }

  
  .dropdown-content a {
    color: #440DCC;
    text-align: center;
    font-family:'Open Sans', sans-serif; 
    padding: 12px 16px;
    border-radius: 10px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: rgba(221, 221, 221, 0.628);}
  
  .dropdown:hover .dropdown-content {display: block;}
  